@import "../styles/variables.scss";

.userCard {
  display: flex;
  flex-direction: column;
  padding: 20px;

  border: 1px solid $lighGray;
  cursor: pointer;

  &:hover {
    border: 1px solid $lighGray;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  }
}

.name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.field {
  margin-bottom: 16px;
}
